body {
    margin: 0;
    font-family: Ek mukta, Arial, sans-serif;
    background-color:#F0EBDD ;
    
}
h1{
    font-size: 32px;
    font-weight: bolder;
}
p{
    font-size: 26px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9E811A;
    padding: 10px 20px;
    
}

.logo img {
    height: 8vh;
    border-radius: 2px solid black; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    margin-right: 50px;
}

nav ul li a:hover {
    color: #007bff; 
}

.welcome{
    text-align: center;
    padding-top: 25px;
}

.image-columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 100px 125px; 
}

.image-box {
    border: 2px solid black;
    margin-bottom: 120px; 
    display: flex;
    flex-direction: column;
    height: 800px;
}

.image-box img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.image-text {
    background-color: #fff;
    padding: 10px;
    height: 30%; 
    box-sizing: border-box;
    font-size: 26px;   
}

.Community{
    padding-left: 55px;
    
}

.science{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
}

.explore{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.kids{
    padding-left: 55px;
}

.teachers{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.teach{
    padding-left: 55px;
}

.cosmology{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.cosmo{
    padding-left: 55px;
}

.evolution{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.centur{
    padding-left: 55px;
}

.biology{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.medicine{
    padding-left: 55px;
}

.robotics{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.AI{ 
    padding-left: 55px;
}

.ecology{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.learn{
    padding-left: 55px;
}

.special{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 100px;
}

.news{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.visiting{
    padding-left: 55px;
}

.night{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.family{
    padding-left: 55px;
}

.energetica{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 55px;
}

.loan{
    padding-left: 55px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .image-box {
        width:140%; 
        padding-bottom: 30px;
        background-color: #fff;
    }
 
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .image-box {
        width:130%; 
        padding-bottom: 190px;
        background-color: #fff;
        height: 400px;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px; 
        margin-right: 0px;
    }

    .logo img {
        height: 3h;
        border-radius: 2px solid black; 
    }

    .column {
        flex: 1;
        margin: 300px 80px; 
        margin-top: 30px;
    }

    .science{
       margin-top: -250px;
    }

    p{
        font-size: 18px;
    }

    h1{
        font-size: 24px;
    }

}

@media screen and (min-width: 1px) and (max-width: 425px) {
    .image-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .column {
        width: 100%;
    }

    

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 12px; 
        margin-right: 0px;
    }

    p{
        font-size: 18px;
    }

    h1{
        font-size: 24px;
    }

    .image-text {
        background-color: #fff;
        padding: 10px;
        height: 30%; 
        box-sizing: border-box;
        font-size: 16px;   
    }

    .science{
        font-size: 24px;
    }

    .explore{
        font-size: 24px;
    }

    .teachers{
        font-size: 24px;
    }

    .cosmology{
        font-size: 24px;
    }

    .evolution{
        font-size: 24px;
    }

    .biology{
        font-size: 24px;
    }

    .robotics{
        font-size: 24px;
    }

    .ecology{
        font-size: 24px;
    }

    .special{
        font-size: 24px;
    }

    .news{
        font-size: 24px;
    }

    .night{
        font-size: 24px;
    }

    .energetica{
        font-size: 24px;
    }

}

